Repository sawamura-hayato/webserv, pull requests merged in 2024-10, with the labels that each got.

#541 [update] ClientInfoをCgiParseに渡すように
  srcs/http/http.cpp
  srcs/http/response/cgi_parse/cgi_parse.cpp
  srcs/http/response/cgi_parse/cgi_parse.hpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  test/webserv/unit/cgi_parse/test_cgi_parse.cpp
  test/webserv/unit/http_response/test_http_response.cpp
Labels: http, cgi

#542 [add] upload_directoryへの対応追加
  config/default.conf
  srcs/http/response/http_method.cpp
  srcs/http/response/http_method.hpp
  srcs/http/response/http_response.cpp
  test/webserv/unit/http_method/.gitignore
  test/webserv/unit/http_method/Makefile
  test/webserv/unit/http_method/root/directory/a
  test/webserv/unit/http_method/root/file.txt
  test/webserv/unit/http_method/root/index.txt
  test/webserv/unit/http_method/root/s/k
  test/webserv/unit/http_method/root/upload/.gitkeep
  test/webserv/unit/http_method/test_http_method.cpp
Labels: http

#559 ubutu_tester用にdevコンテナのDockerfile修正
  .devcontainer/Dockerfile
Labels: test

#548 [update] ヘッダーフィールドの重複と可視文字以外を弾きました
  srcs/http/request/parse/http_parse.cpp
  srcs/http/request/parse/http_parse.hpp
  test/common/request/get/2xx/200_07_duplicate_connection_keep.txt
  test/common/request/get/2xx/200_08_duplicate_connection_close.txt
  test/common/request/get/4xx/400_18_non_vchr_header_field_name.txt
  test/common/request/get/4xx/400_19_non_vchr_header_field_value.txt
  test/webserv/unit/http/test_case/get/test_2xx.cpp
  test/webserv/unit/http/test_case/get/test_4xx.cpp
  test/webserv/unit/http/test_case/test_case.hpp
  test/webserv/unit/http/test_case/test_request.hpp
  test/webserv/unit/http/test_http.cpp
Labels: http

#554 [fix] ConfigParseで被っているlocationを弾くように
  srcs/config_parse/custom_const_iterator.hpp
  srcs/config_parse/parser.cpp
  srcs/config_parse/parser.hpp
  test/common/config/error_test_files/location/location_duplicated_param.conf
  test/webserv/unit/config_parse/test_config.cpp
Labels: configuration

#571 [fix] python-devのバージョンを更新
  .devcontainer/Dockerfile
Labels: bug

#569 [add] integration / get 実装済みケースのテスト追加
  test/webserv/integration/test_integration.py
Labels: test

#550 [add] error_pageへの対応を追加
  config/default.conf
  root/html/error_pages/404-ja.html
  srcs/http/response/http_method.cpp
  srcs/http/response/http_method.hpp
  srcs/http/response/http_response.cpp
  test/webserv/unit/http_response/test_http_response.cpp
Labels: http

#576 [fix] IsConnectionKeep() の判定修正
  srcs/http/response/http_response.cpp
  test/webserv/integration/test_integration.py
  test/webserv/unit/http/test_http.cpp
Labels: http

#573 [update] CgiのResponseをパースする部分の追加
  srcs/http/IHttp.hpp
  srcs/http/http.cpp
  srcs/http/http.hpp
  srcs/http/response/cgi_response_parse/cgi_response_parse.cpp
  srcs/http/response/cgi_response_parse/cgi_response_parse.hpp
  srcs/server/server.cpp
  test/webserv/unit/Makefile
  test/webserv/unit/cgi_response_parse/Makefile
  test/webserv/unit/cgi_response_parse/test_cgi_response_parse.cpp
  test/webserv/unit/http/test_case/test_get_error_response.cpp
Labels: http, cgi

#577 [fix] CgiParseの修正
  srcs/http/response/cgi_parse/cgi_parse.cpp
  srcs/http/response/cgi_parse/cgi_parse.hpp
  srcs/http/response/http_response.cpp
  test/webserv/unit/cgi/Makefile
  test/webserv/unit/cgi_parse/Makefile
  test/webserv/unit/cgi_parse/test_cgi_parse.cpp
Labels: cgi

#579 [add] 通信関係の integration test 追加
  test/webserv/integration/common.py
  test/webserv/integration/http/test_method.py
  test/webserv/integration/test_connection.py
  test/webserv/integration/test_integration.py
Labels: test

#583 [update] ヘッダーの値チェックを追加、前後のOWSを切り取るように
  srcs/http/request/parse/http_parse.cpp
  srcs/http/request/parse/http_parse.hpp
  test/webserv/integration/test_integration.py
  test/webserv/unit/http_parse/test_http_parse.cpp
Labels: http

#585 [add] CgiResponseParseをHttpのCreateResponseFromCgiに組み込み
  root/cgi-bin/print_env.pl
  root/cgi-bin/print_stdin.pl
  srcs/cgi/cgi_response_parse/cgi_response_parse.cpp
  srcs/cgi/cgi_response_parse/cgi_response_parse.hpp
  srcs/http/http.cpp
  srcs/http/http_message.cpp
  srcs/http/http_message.hpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  test/webserv/unit/cgi_response_parse/Makefile
  test/webserv/unit/cgi_response_parse/test_cgi_response_parse.cpp
  test/webserv/unit/http/Makefile
  test/webserv/unit/http/test_case/test_case.hpp
  test/webserv/unit/http/test_case/test_get_response_from_cgi.cpp
  test/webserv/unit/http/test_http.cpp
  test/webserv/unit/http_method/Makefile
  test/webserv/unit/http_response/Makefile
Labels: http, cgi

#591 [fix] POST時の存在確認のパスを修正
  srcs/http/response/http_method.cpp
Labels: bug, http

#584 [fix] server / pipe_fd に EPOLLHUP が起きても read の返り値が 0 になるまでは終了としない
  srcs/server/server.cpp
  srcs/server/server.hpp
Labels: cgi, server

#588 [update] chunked の最後の処理修正
  srcs/http/request/parse/http_parse.cpp
  test/webserv/unit/http_parse/test_http_parse.cpp
Labels: http

#594 [update] cgi-binの中のスクリプトに実行権限をつけました
  root/cgi-bin/print_ok.pl
  root/cgi-bin/print_ok.py
  root/cgi-bin/print_ok.sh
Labels: cgi

#605 [fix] 旧 404.html を削除
  root/html/404.html
  test/common/config/error_test_files/alias/alias_duplicated.conf
  test/common/config/error_test_files/allowed_methods/allowed_methods_duplicated.conf
  test/common/config/error_test_files/autoindex/autoindex_duplicated.conf
  test/common/config/error_test_files/cgi_extension/cgi_extension_duplicated.conf
  test/common/config/error_test_files/client_max_body_size/client_max_body_size_duplicated.conf
  test/common/config/error_test_files/client_max_body_size/client_max_body_size_no_param.conf
  test/common/config/error_test_files/error_page/error_page_duplicated.conf
  test/common/config/error_test_files/error_page/error_page_invalid_status_code.conf
  test/common/config/error_test_files/index/index_duplicated.conf
  test/common/config/error_test_files/listen/listen_duplicated_port.conf
  test/common/config/error_test_files/return/return_duplicated.conf
  test/common/config/error_test_files/upload_dir/upload_dir_duplicated.conf
  test/common/config/error_test_files/upload_dir/upload_dir_no_param.conf
  test/common/config/test_files/test8.conf
  test/common/config/test_files/test9.conf
  test/webserv/integration/http/test_method.py
  test/webserv/unit/config_parse/test_config.cpp
  test/webserv/unit/http/build_virtual_server_addr_list.cpp
  test/webserv/unit/http_response/test_http_response.cpp
  test/webserv/unit/http_serverinfo_check/test_http_serverinfo_check.cpp
Labels: test, style

#597 [update] CgiResponseからcontent_typeを消しました
  srcs/cgi/cgi.cpp
  srcs/cgi/cgi.hpp
  test/webserv/unit/cgi_manager/test_cgi_manager.cpp
  test/webserv/unit/http/test_case/test_get_response_from_cgi.cpp
Labels: cgi

#611 Revert "[update] cgi-binの中のスクリプトに実行権限をつけました"
  root/cgi-bin/print_ok.pl
  root/cgi-bin/print_ok.py
  root/cgi-bin/print_ok.sh
Labels: cgi

#589 [update] upload_dirが設定されてない場合にはリクエストをそのまま返すように
  config/default.conf
  root/html/index.html
  srcs/http/response/http_method.cpp
  srcs/http/response/http_method.hpp
  test/webserv/integration/test_connection.py
Labels: http

#599 [update] chunked で chunk_size と chunk_str をセットで parse する
  srcs/http/request/parse/http_parse.cpp
  test/webserv/unit/http_parse/test_http_parse.cpp
Labels: http

#606 [fix] get/400_13. 400_14 -> get/200_ に移動
  test/common/request/get/2xx/200_07_no_connection_value.txt
  test/common/request/get/2xx/200_08_wrong_connection_value.txt
  test/webserv/integration/test_integration.py
Labels: test

#608 [fix] get/400_09 : Host header-field は必須にする
  srcs/http/request/parse/http_parse.cpp
  test/webserv/integration/test_integration.py
  test/webserv/unit/http/test_http.cpp
Labels: http

#623 [update] test_integration.pyの出力を整形、コメント削除
  test/webserv/integration/test_integration.py
Labels: test, style

#598 [update] Cgiから作られるHttpResonseのヘッダーにLocation追加
  root/cgi-bin/client_redirect.pl
  srcs/http/response/http_response.cpp
  srcs/http/status_code.cpp
  srcs/http/status_code.hpp
  test/apache/Dockerfile
  test/apache/cgi/client_redirect.pl
  test/webserv/unit/cgi_response_parse/test_cgi_response_parse.cpp
Labels: cgi

#616 [implement] PathInfoへの対応追加
  srcs/http/response/cgi_parse/cgi_parse.cpp
  srcs/http/response/http_response.cpp
Labels: cgi

#622 [add] CgiのIntegrationTestを追加
  test/webserv/integration/http_module/__init__.py
  test/webserv/integration/http_module/assert_http_response.py
  test/webserv/integration/http_module/test_method.py
  test/webserv/integration/http_module/test_webserv.py
  test/webserv/integration/test_cgi.py
Labels: test, cgi

#615 [update] get/200_11: header-fields の大文字小文字どっちでも許容する
  srcs/cgi/cgi_response_parse/cgi_response_parse.cpp
  srcs/cgi/cgi_response_parse/cgi_response_parse.hpp
  srcs/http/http_message.cpp
  srcs/http/request/parse/http_parse.cpp
  srcs/http/response/cgi_parse/cgi_parse.cpp
  srcs/utils/convert_str.cpp
  srcs/utils/utils.hpp
  test/webserv/integration/common.py
  test/webserv/integration/test_integration.py
  test/webserv/unit/cgi_manager/test_cgi_manager.cpp
  test/webserv/unit/cgi_parse/test_cgi_parse.cpp
  test/webserv/unit/cgi_response_parse/Makefile
  test/webserv/unit/cgi_response_parse/test_cgi_response_parse.cpp
  test/webserv/unit/http/test_http.cpp
  test/webserv/unit/http_parse/test_http_parse.cpp
  test/webserv/unit/http_response/test_http_response.cpp
  test/webserv/unit/http_serverinfo_check/test_http_serverinfo_check.cpp
Labels: http

#572 DELETEテストケース作成 / unit/test_httpにDELETEテストケース追加
  root/upload/delete_file
  test/common/request/delete/2xx/204_01_delete_existing_file.txt
  test/common/request/delete/2xx/204_02_delete_existing_file_with_body_message.txt
  test/common/request/delete/2xx/204_03_delete_existing_file_then_404_on_second_attempt.txt
  test/common/request/delete/4xx/403_01_delete_directory.txt
  test/common/request/delete/4xx/404_01_delete_nonexistent_file.txt
  test/webserv/expected_response/default_status_line/204_no_content.txt
  test/webserv/expected_response/default_status_line/403_forbidden.txt
  test/webserv/unit/http/Makefile
  test/webserv/unit/http/test_case/delete/test_delete_2xx.cpp
  test/webserv/unit/http/test_case/delete/test_delete_4xx.cpp
  test/webserv/unit/http/test_case/get/test_get_2xx.cpp
  test/webserv/unit/http/test_case/get/test_get_4xx.cpp
  test/webserv/unit/http/test_case/get/test_get_5xx.cpp
  test/webserv/unit/http/test_case/test_case.hpp
  test/webserv/unit/http/test_case/test_expected_response.hpp
  test/webserv/unit/http/test_case/test_request.hpp
  test/webserv/unit/http/test_http.cpp
  test/webserv/unit/http_response/test_http_response.cpp
Labels: test, http

#633 [add] Cgi Integration Testのテストケース追加
  test/webserv/integration/test_cgi.py
Labels: test, cgi

#637 [update] POSTの場合でContent-Typeがない場合とContent-LengthまたはTransfer-Encodingがない場合を弾きました
  srcs/http/request/parse/http_parse.cpp
  test/common/request/post/4xx/408_01_shortened_body_message.txt
  test/common/request/post/4xx/408_02_no_body_message.txt
  test/webserv/unit/http_parse/test_http_parse.cpp
Labels: http

#640 [add] POSTの場合でContent-Typeがない場合, Content-LengthまたはTransfer-Encodingがない場合 の integration 追加
  test/common/request/post/4xx/400_03_no_content_type.txt
  test/common/request/post/4xx/400_04_no_content_length_and_no_transfer_encoding.txt
  test/common/request/post/4xx/400_05_no_content_length_and_not_chunked_transfer_encoding.txt
  test/webserv/integration/test_http_post.py
Labels: test

#641 [update] status line も表示可能文字以外は 400
  srcs/cgi/cgi_response_parse/cgi_response_parse.cpp
  srcs/http/request/parse/http_parse.cpp
  srcs/utils/convert_str.cpp
  srcs/utils/is_vstring.cpp
  srcs/utils/isdigit.cpp
  srcs/utils/utils.hpp
  test/common/request/get/4xx/400_22_non_vchr_method.txt
  test/common/request/get/4xx/400_23_non_vchr_request_target.txt
  test/common/request/get/4xx/400_24_non_vchr_http_version.txt
  test/webserv/integration/test_http_get.py
  test/webserv/unit/cgi/Makefile
  test/webserv/unit/cgi_parse/Makefile
  test/webserv/unit/cgi_response_parse/Makefile
  test/webserv/unit/config_parse/Makefile
  test/webserv/unit/config_parse/parser/Makefile
  test/webserv/unit/convert_str/Makefile
  test/webserv/unit/http/Makefile
  test/webserv/unit/http_method/Makefile
  test/webserv/unit/http_parse/Makefile
  test/webserv/unit/http_response/Makefile
  test/webserv/unit/http_serverinfo_check/Makefile
  test/webserv/unit/http_storage/Makefile
Labels: test, http

#636 [add] configファイルのバリエーションを追加
  config/identical_host_port.conf
  config/location_longest_match.conf
  config/small_client_max_body_size.conf
Labels: configuration

#639 [add] DeleteIntegrationTestの追加
  test/common/request/delete/2xx/204_04_delete_empty_file.txt
  test/common/request/delete/2xx/204_05_delete_existing_file_keep.txt
  test/webserv/integration/common_response.py
  test/webserv/integration/test_http_delete.py
  test/webserv/integration/test_http_post.py
Labels: test

#628 [add] MultiPartのDecoderを追加
  root/html/index.html
  sandbox/rin/parse_multipart.cpp
  srcs/http/http_message.cpp
  srcs/http/http_message.hpp
  srcs/http/response/http_method.cpp
  srcs/http/response/http_method.hpp
  srcs/http/response/http_response.cpp
  test/webserv/unit/http_method/Makefile
  test/webserv/unit/http_method/test_http_method.cpp
  test/webserv/unit/http_response/Makefile
Labels: http

#645 [add] サーバールーティングのテスト追加
  config/default.conf
  srcs/http/response/http_response.cpp
  test/webserv/expected_response/default_body_message/301_moved_permanently.txt
  test/webserv/expected_response/default_body_message/302_found.txt
  test/webserv/expected_response/default_status_line/301_moved_permanently.txt
  test/webserv/expected_response/default_status_line/302_found.txt
  test/webserv/integration/test_routing.py
  test/webserv/unit/http_method/test_http_method.cpp
  test/webserv/unit/http_response/test_http_response.cpp
Labels: test

#658 [fix] integration / test_timeout_keep_alive() がたまに actions で失敗する
  test/webserv/integration/test_connection.py
Labels: test

#654 [update] multipartのエラーハンドリング追加
  srcs/http/response/http_method.cpp
Labels: http

#651 [update] index.htmlを改修
  root/cgi-bin/env.py
  root/cgi-bin/file_upload.pl
  root/html/index.html
  srcs/http/response/http_method.cpp
Labels: style

#662 [update] client_max_body_sizeに上限を設けた
  srcs/config_parse/parser.cpp
  srcs/config_parse/parser.hpp
  test/common/config/error_test_files/client_max_body_size/client_max_body_size_out_of_lower_range.conf
  test/common/config/error_test_files/client_max_body_size/client_max_body_size_out_of_upper_range.conf
  test/webserv/unit/config_parse/test_config.cpp
Labels: configuration

#649 [add] GET, POST 確認が取れた request file のテストを integration に追加
  test/common/request/get/2xx/200_09_two_colon_in_header_field.txt
  test/common/request/post/2xx/201_06_empty_body_size.txt
  test/common/request/post/2xx/201_07_just_content_max_body_size.txt
  test/common/request/post/4xx/400_06_incomplete_chunked_body.txt
  test/common/request/post/4xx/400_07_incomplete_chunked_body_0_end.txt
  test/common/request/post/4xx/400_08_incomplete_chunked_body_0crlf_end.txt
  test/common/request/post/4xx/400_09_chunked_empty_chunk_size.txt
  test/common/request/post/4xx/400_10_chunked_empty_chunk_data.txt
  test/common/request/post/4xx/400_11_overflow_chunk_size_and_crlf.txt
  test/common/request/post/4xx/400_12_only_too_large_chunk_size_early_check.txt
  test/common/request/post/4xx/408_03_incomplete_chunked_body.txt
  test/common/request/post/4xx/408_04_incomplete_chunked_body_0_end.txt
  test/common/request/post/4xx/408_05_incomplete_chunked_body_0crlf_end.txt
  test/common/request/post/4xx/408_06_max_chunk_size_and_crlf.txt
  test/common/request/post/4xx/413_01_too_large_content_max_body_size.txt
  test/webserv/expected_response/default_body_message/413_payload_too_large.txt
  test/webserv/expected_response/default_status_line/413_payload_too_large.txt
  test/webserv/integration/common_response.py
  test/webserv/integration/test_http_get.py
  test/webserv/integration/test_http_post.py
Labels: test

#663 [refactor] http / content-length セットしてる箇所でまとめられるところをまとめる
  srcs/config_parse/parser.cpp
  srcs/config_parse/parser.hpp
  srcs/event/event.hpp
  srcs/http/http.cpp
  srcs/http/http.hpp
  srcs/http/request/parse/http_parse.cpp
  srcs/http/response/http_method.cpp
  srcs/http/response/http_method.hpp
  srcs/http/response/http_response.cpp
  srcs/server/message_manager/message.hpp
Labels: refactor, http

#665 [add] Configファイルを変えた統合テストの追加
  .github/workflows/build-and-routing-test.yml
  .github/workflows/run-and-integ-test.yml
  .github/workflows/run-unit-test.yml
  Dockerfile
  Makefile
  config/default.conf
  config/identical_host_port.conf
  config/location_longest_match.conf
  config/routing_test.conf
  config/small_client_max_body_size.conf
  test/webserv/integration/test_routing.py
Labels: test

#670 [fix] file_upload_pathを修正
  srcs/http/response/http_method.cpp
  srcs/http/response/http_method.hpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.cpp
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.hpp
  test/webserv/unit/http_method/test_http_method.cpp
  test/webserv/unit/http_serverinfo_check/Makefile
  test/webserv/unit/http_serverinfo_check/test_http_serverinfo_check.cpp
Labels: http

#668 [add] integration テスト追加
  test/common/request/post/4xx/405_01_method_not_allowed_for_uri.txt
  test/webserv/integration/common_functions.py
  test/webserv/integration/test_cgi.py
  test/webserv/integration/test_connection.py
  test/webserv/integration/test_http_post.py
Labels: test

#674 [update] request body の長さでも client_max_body_size と比較する (chunk 用)
  sandbox/ab/generator/generate_chunked_body.py
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.cpp
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.hpp
  test/common/request/post/2xx/201_08_unchunked_body_size_just_client_max_body_size.txt
  test/common/request/post/4xx/413_02_too_large_unchunked_body_size.txt
  test/webserv/integration/test_http_post.py
Labels: test, http

#676 [add] file_upload_path の integration test 追加
  .github/workflows/build-and-routing-test.yml
  .github/workflows/run-and-integ-test.yml
  .github/workflows/run-unit-test.yml
  test/common/request/post/2xx/201_09_upload_file_exist_sub_dir.txt
  test/common/request/post/4xx/403_01_permission_denied_directory.txt
  test/common/request/post/4xx/404_01_non_exist_directory.txt
  test/webserv/integration/test_http_post.py
Labels: test

#677 [update] ContentTypeを更新
  srcs/http/http_message.cpp
  srcs/http/http_message.hpp
  srcs/http/response/http_method.cpp
  test/webserv/integration/test_connection.py
  test/webserv/unit/http_response/test_http_response.cpp
Labels: http

#671 [add] python で request を送る通信関係の integration test 追加
  test/webserv/integration/common_functions.py
  test/webserv/integration/test_connection.py
  test/webserv/integration/test_connection_use_socket.py
  test/webserv/integration/test_http_get_check_content_type.py
Labels: test

#679 [update] 400,500 は connection: close で返す
  srcs/http/http.cpp
  srcs/http/http_exception.cpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  test/common/request/get/4xx/400_25_keep_alive_turns_close_in_400.txt
  test/common/request/get/4xx/404_02_not_exist_path_keep_alive.txt
  test/webserv/integration/common_response.py
  test/webserv/integration/test_http_delete.py
  test/webserv/integration/test_http_get.py
  test/webserv/integration/test_http_post.py
  test/webserv/unit/http_response/test_http_response.cpp
Labels: test, http

#683 [style] 404-ja.htmlを404.htmlに差し替え
  config/default.conf
  root/html/error_pages/404-ja.html
  root/html/error_pages/404.html
  test/common/config/error_test_files/alias/alias_duplicated.conf
  test/common/config/error_test_files/allowed_methods/allowed_methods_duplicated.conf
  test/common/config/error_test_files/autoindex/autoindex_duplicated.conf
  test/common/config/error_test_files/cgi_extension/cgi_extension_duplicated.conf
  test/common/config/error_test_files/client_max_body_size/client_max_body_size_duplicated.conf
  test/common/config/error_test_files/client_max_body_size/client_max_body_size_no_param.conf
  test/common/config/error_test_files/client_max_body_size/client_max_body_size_out_of_lower_range.conf
  test/common/config/error_test_files/client_max_body_size/client_max_body_size_out_of_upper_range.conf
  test/common/config/error_test_files/error_page/error_page_duplicated.conf
  test/common/config/error_test_files/error_page/error_page_invalid_status_code.conf
  test/common/config/error_test_files/index/index_duplicated.conf
  test/common/config/error_test_files/listen/listen_duplicated_port.conf
  test/common/config/error_test_files/return/return_duplicated.conf
  test/common/config/error_test_files/upload_dir/upload_dir_duplicated.conf
  test/common/config/error_test_files/upload_dir/upload_dir_no_param.conf
  test/common/config/test_files/test8.conf
  test/common/config/test_files/test9.conf
  test/webserv/integration/http_module/test_method.py
  test/webserv/unit/config_parse/test_config.cpp
  test/webserv/unit/http/build_virtual_server_addr_list.cpp
  test/webserv/unit/http_response/test_http_response.cpp
  test/webserv/unit/http_serverinfo_check/test_http_serverinfo_check.cpp
Labels: style

#682 [update] Cgiの統合Test追加
  root/cgi-bin/loop_local_redirect.pl
  test/webserv/integration/test_cgi.py
Labels: test, cgi

#684 [fix] Cgiスクリプトが存在しない場合に404を返すように
  srcs/http/response/http_response.cpp
  test/webserv/integration/test_cgi.py
Labels: bug, cgi

#688 [add] 複合的なCgiのテストを追加
  test/webserv/integration/test_cgi.py
Labels: test, cgi

#692 [add] test_routingにerror_pageのテストも追加
  config/routing_test.conf
  test/webserv/integration/http_module/assert_http_response.py
  test/webserv/integration/test_routing.py
Labels: test

#691 [add] multipart integration test
  test/common/request/post/2xx/201_10_upload_multipart.txt
  test/common/request/post/2xx/201_11_upload_multipart_no_quote.txt
  test/common/request/post/2xx/201_12_upload_multipart_multi_files.txt
  test/common/request/post/4xx/400_13_multipart_one_boundary.txt
  test/common/request/post/4xx/400_14_multipart_invalid_end.txt
  test/common/request/post/4xx/400_15_multipart_content_disposition_not_form_data.txt
  test/common/request/post/4xx/400_16_multipart_no_name_in_disposition.txt
  test/common/request/post/4xx/400_17_multipart_duplicate_header_field_in_same_part.txt
  test/common/request/post/4xx/400_18_multipart_duplicate_header_field_in_same_part2.txt
  test/common/request/post/4xx/400_19_multipart_no_2_crlf_after_header.txt
  test/common/request/post/4xx/400_20_multipart_no_crlf_at_end.txt
  test/common/request/post/4xx/400_21_multipart_no_crlf_at_end_of_body.txt
  test/common/request/post/4xx/400_22_multipart_no_equal_in_field_name.txt
  test/common/request/post/4xx/400_23_multipart_no_equal_in_field_filename.txt
  test/common/request/post/4xx/400_24_multipart_missing_semicolon_no_filename.txt
  test/common/request/post/4xx/400_25_multipart_keep_alive.txt
  test/common/request/post/4xx/413_03_too_large_multipart_body_size.txt
  test/webserv/integration/test_http_post.py
Labels: test

#695 [add] EchoPostのテストを追加
  config/routing_test.conf
  srcs/http/response/http_method.cpp
  srcs/http/response/http_method.hpp
  test/webserv/integration/test_routing.py
Labels: test, http

#694 [update] multipart で filename がない場合は 400 にする
  srcs/http/response/http_method.cpp
  test/common/request/post/4xx/400_26_multipart_missing_content_disposition.txt
  test/webserv/integration/test_http_post.py
Labels: test, http

#700 [update] CGI 実行中の http 内部処理を修正
  srcs/http/http.cpp
  srcs/http/request/parse/http_parse.hpp
  test/common/request/get/4xx/408_03_run_cgi_with_over_buffer_size_request.txt
  test/webserv/integration/test_http_get.py
  test/webserv/integration/test_http_post.py
Labels: test, http

#698 [update] HttpResponseでCgiResponseのConnectionを参照するように
  root/cgi-bin/print_ok_close.pl
  root/cgi-bin/print_ok_keep.pl
  srcs/http/http.cpp
  srcs/http/response/http_response.cpp
  test/webserv/integration/test_cgi.py
Labels: http, cgi

#701 [update] boundaryのみ大文字小文字を保持するようにしました
  srcs/http/request/parse/http_parse.cpp
  srcs/http/response/http_method.cpp
  test/common/request/post/2xx/201_13_upload_multipart_multi_files_case_sensitive_boundary.txt
  test/common/request/post/2xx/201_14_upload_multipart_extra_parameter.txt
  test/webserv/integration/test_http_post.py
Labels: http

#685 [style] todoコメントを削除
  srcs/epoll/epoll.cpp
  srcs/epoll/epoll.hpp
  srcs/http/http.cpp
  srcs/http/request/parse/http_parse.cpp
  srcs/http/response/http_response.cpp
  srcs/server/cgi_manager/cgi_manager.cpp
  srcs/server/connection.cpp
  srcs/server/context_manager/sock_context/sock_context.cpp
  srcs/server/message_manager/message_manager.cpp
  srcs/server/send.cpp
  srcs/server/server.cpp
  srcs/server/virtual_server/virtual_server.hpp
  test/webserv/integration/http_module/test_method.py
  test/webserv/unit/config_parse/lexer/test_config_lexer.cpp
  test/webserv/unit/config_parse/parser/test_config_parser.cpp
  test/webserv/unit/http_parse/test_http_parse.cpp
  test/webserv/unit/sock_context/test_sock_context.cpp
  test/webserv/unit/virtual_server/test_virtual_server.cpp
Labels: style

#704 [update] cppcheckに基づいてリファクタリング
  srcs/cgi/cgi_response_parse/cgi_response_parse.cpp
  srcs/cgi/cgi_response_parse/cgi_response_parse.hpp
  srcs/config_parse/parser.cpp
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.cpp
  srcs/http/response/stat.cpp
  srcs/server/context_manager/sock_context/server_info.cpp
  test/apache/test.cpp
  test/nginx/manual/test.cpp
  test/webserv/integration/test_connection_use_socket.py
  test/webserv/unit/cgi_response_parse/Makefile
  test/webserv/unit/http/Makefile
  test/webserv/unit/http/test_case/test_cgi.cpp
  test/webserv/unit/http_serverinfo_check/Makefile
Labels: style

#705 [update] server / HandleErrorEvent() を反復する可能性を修正
  srcs/server/server.cpp
Labels: server

#707 [update] client, test : server 側から通信を切られても例外を投げないようにする
  test/common/client/client.cpp
  test/webserv/integration/common_functions.py
Labels: test

#709 [update] デフォルトのclient_max_body_sizeを1MBに変更
  config/default.conf
  sandbox/ab/generator/generate_chunked_body.py
  srcs/config_parse/context.hpp
  test/common/request/post/4xx/413_01_too_large_content_max_body_size.txt
  test/common/request/post/4xx/413_02_too_large_unchunked_body_size.txt
  test/common/request/post/4xx/413_03_too_large_multipart_body_size.txt
  test/webserv/unit/config_parse/parser/test_config_parser.cpp
  test/webserv/unit/config_parse/test_config.cpp
Labels: configuration

#711 [update] chunked の 16 進数に 0x, 0X がある場合を考慮して上限設定
  srcs/http/request/parse/http_parse.cpp
  test/common/request/post/4xx/400_12_only_too_large_chunk_size_early_check.txt
  test/webserv/unit/http_parse/test_http_parse.cpp
Labels: http

#713 [fix] .devcontainer/Dockerfileを修正
  .devcontainer/Dockerfile
  Makefile
Labels: setting
