Repository sawamura-hayato/webserv, pull requests merged in 2024-07, with the labels that each got.

#125 [add] unit test を呼ぶ main 作成
  Makefile
  test/unit/Makefile
  test/unit/split/Makefile
  test/unit/split/main.cpp
  test/unit/srcs/main.cpp
  test/unit/srcs/split/test_split.cpp
  test/unit/srcs/split/test_split.hpp
  test/unit/test_error_sample_unit.py
  test/unit/test_sample_unit.py
Labels: test

#135 [fix] mapの.atがC++11以降のようだったので[]演算子に変更
  srcs/buffer.cpp
  srcs/buffer.hpp
  srcs/http/response/create_response.cpp
  srcs/sock_context.cpp
Labels: style

#132 [add] 複数 port 用 socket 対応
  srcs/buffer.cpp
  srcs/buffer.hpp
  srcs/connection.cpp
  srcs/connection.hpp
  srcs/epoll.cpp
  srcs/epoll.hpp
  srcs/http/response/create_response.cpp
  srcs/server.cpp
  srcs/server.hpp
  srcs/sock_context.cpp
  srcs/sock_context.hpp
  srcs/sock_info.cpp
  srcs/sock_info.hpp
Labels: connection

#136 S1 haya/123 after 118 rebase
  sandbox/sawa/cgi_env/Makefile
  sandbox/sawa/cgi_env/cgi.cpp
  sandbox/sawa/cgi_env/cgi.hpp
  sandbox/sawa/cgi_env/cgi_parse.cpp
  sandbox/sawa/cgi_env/cgi_parse.hpp
  sandbox/sawa/cgi_env/create_cgi_argv.cpp
  sandbox/sawa/cgi_env/create_cgi_env.cpp
  sandbox/sawa/cgi_env/create_request_meta_variables.cpp
  sandbox/sawa/cgi_env/execve_cgi_script.cpp
  sandbox/sawa/cgi_env/main.cpp
  sandbox/sawa/cgi_env/run_cgi.cpp
  test/apache/Dockerfile
  test/apache/cgi/print_env.pl
  test/apache/cgi/print_stdin.pl
  test/apache/config/httpd.conf
Labels: cgi

#140 [add] 異なるhost名 (異なる仮想 server) で socket 通信する
  .github/workflows/build-and-test.yml
  Makefile
  sandbox/ab/multi_host/Makefile
  sandbox/ab/multi_host/main.cpp
  srcs/connection.cpp
  srcs/connection.hpp
  srcs/epoll.cpp
  srcs/server.cpp
  srcs/server.hpp
  srcs/sock_info.cpp
  srcs/sock_info.hpp
  srcs/utils/convert_str.cpp
  srcs/utils/isspace.cpp
  srcs/utils/utils.hpp
Labels: connection

#164 [add] `ConvertStrToUint()` の unit test 追加
  srcs/utils/convert_str.cpp
  srcs/utils/isdigit.cpp
  srcs/utils/utils.hpp
  test/unit/Makefile
  test/unit/srcs/convert_str/test_convert_str.cpp
  test/unit/srcs/convert_str/test_convert_str.hpp
  test/unit/srcs/main.cpp
  test/unit/srcs/split/test_split.cpp
Labels: test

#161 [update] addrinfo構造体の list を全部 bind() 試して、1 つでも成功したら listen() する
  srcs/connection.cpp
  srcs/connection.hpp
Labels: connection

#148 141-sandbox-http_parseクラスの作成
  sandbox/sawa/http_parse/Makefile
  sandbox/sawa/http_parse/http_parse.cpp
  sandbox/sawa/http_parse/http_parse.hpp
  sandbox/sawa/http_parse/main.cpp
Labels: http

#159 [sandbox] HTTPParseクラス　ステータスラインが正常系かどうか確認する関数
  sandbox/sawa/http_parse/http_parse.cpp
  sandbox/sawa/http_parse/http_parse.hpp
  sandbox/sawa/http_parse/main.cpp
  test/nginx/Dockerfile
  test/nginx/nginx.conf
  test/nginx/test.cpp
Labels: http

#166 [sandbox] 162 sandbox enumでステータスコードを定義する
  sandbox/sawa/http_parse/Makefile
  sandbox/sawa/http_parse/http_parse.cpp
  sandbox/sawa/http_parse/http_parse.hpp
  sandbox/sawa/http_parse/main.cpp
Labels: http

#129 Cherry-pick: 118のブランチ
  sandbox/sawa/cgi_env/Makefile
  sandbox/sawa/cgi_env/cgi.cpp
  sandbox/sawa/cgi_env/cgi.hpp
  sandbox/sawa/cgi_env/cgi_parse.cpp
  sandbox/sawa/cgi_env/cgi_parse.hpp
  sandbox/sawa/cgi_env/create_cgi_argv.cpp
  sandbox/sawa/cgi_env/create_cgi_env.cpp
  sandbox/sawa/cgi_env/create_request_meta_variables.cpp
  sandbox/sawa/cgi_env/execve_cgi_script.cpp
  sandbox/sawa/cgi_env/is_executable.cpp
  sandbox/sawa/cgi_env/main.cpp
  sandbox/sawa/cgi_env/run_cgi.cpp
  test/apache/Dockerfile
  test/apache/cgi/print_env.pl
  test/apache/cgi/print_stdin.pl
  test/apache/cgi/print_stdout.pl
  test/apache/config/httpd.conf
  test/unit/cgi_env/create_cgi_env.cpp
  test/unit/cgi_env/main.cpp
Labels: cgi

#158 [add] 簡易的にリクエストを試せる html の提案
  .vscode/settings.json
  html/404.html
  html/index.html
  html/sub/index.html
  srcs/server.cpp
  test/client/client.cpp
  test/client/main.cpp
  test/unit/srcs/split/test_split.cpp
Labels: style

#168 [sandbox] httpparseクラス ヘッダフィールドの書式をパースする関数作成
  sandbox/sawa/http_parse/http_parse.cpp
  sandbox/sawa/http_parse/http_parse.hpp
  sandbox/sawa/http_parse/main.cpp
  test/nginx/test.cpp
Labels: http

#138 [sandbox] `getnameinfo()` を使用して IP, port 解決
  sandbox/ab/getaddrinfo/Makefile
  sandbox/ab/getaddrinfo/getaddrinfo.cpp
Labels: connection

#171 [add] client の IP, port などを保持しておく ClientInfo class 作成
  srcs/client_info.cpp
  srcs/client_info.hpp
  srcs/connection.cpp
Labels: server

#180 [add] client_fd 毎に ClientInfo class を map で, SockContext class が保持する
  srcs/client_info.cpp
  srcs/client_info.hpp
  srcs/connection.cpp
  srcs/connection.hpp
  srcs/server.cpp
  srcs/server.hpp
  srcs/server_info.cpp
  srcs/server_info.hpp
  srcs/sock_context.cpp
  srcs/sock_context.hpp
  srcs/sock_info.cpp
Labels: server

#170 [http_parse] HttpParseクラスをsandboxからunitに移動する
  Makefile
  srcs/http/request/parse/http_parse.cpp
  srcs/http/request/parse/http_parse.hpp
  test/unit/Makefile
  test/unit/srcs/http_parse/test_http_parse.cpp
  test/unit/srcs/http_parse/test_http_parse.hpp
  test/unit/srcs/main.cpp
Labels: http

#185 [update] unit testを個別にテストできるようにする
  Makefile
  srcs/utils/split_str.cpp
  test/.gitignore
  test/client/Makefile
  test/unit/Makefile
  test/unit/convert_str/Makefile
  test/unit/convert_str/test_convert_str.cpp
  test/unit/split_str/Makefile
  test/unit/split_str/test_split_str.cpp
  test/unit/srcs/convert_str/test_convert_str.hpp
  test/unit/srcs/main.cpp
  test/unit/srcs/split/test_split.hpp
Labels: test

#197 [fix] ServerInfo, ClientInfo の constructor でのメンバ初期化を修正
  srcs/client_info.cpp
  srcs/server_info.cpp
Labels: bug

#184 [add] `SockContext` が、client_fd とその client の request を受信した server 情報を紐づけて保持する
  srcs/buffer.cpp
  srcs/buffer.hpp
  srcs/server.cpp
  srcs/server.hpp
  srcs/server_info.cpp
  srcs/server_info.hpp
  srcs/sock_context.cpp
  srcs/sock_context.hpp
Labels: server

#178 [add] VirtualServer class 作成
  srcs/virtual_server/virtual_server.cpp
  srcs/virtual_server/virtual_server.hpp
  test/unit/Makefile
  test/unit/virtual_server/Makefile
  test/unit/virtual_server/test_virtual_server.cpp
Labels: server

#211 [add] 全 VirtualServer を保持・管理する class 作成
  srcs/virtual_server/virtual_server_storage.cpp
  srcs/virtual_server/virtual_server_storage.hpp
  test/unit/Makefile
  test/unit/virtual_server_storage/Makefile
  test/unit/virtual_server_storage/test_virtual_server_storage.cpp
Labels: server

#191 [add] class SockContext の unit test 作成
  test/unit/Makefile
  test/unit/sock_context/Makefile
  test/unit/sock_context/test_sock_context.cpp
Labels: test

#204 Rin/142 add lexerのエラー対応
  srcs/config_parse/lexer.cpp
  test/unit/config_parse/main.cpp
Labels: configuration

#218 [http] HttpStorageクラスでクライアント、リクエスト情報の保時、管理を作成
  srcs/http/request/http_storage.cpp
  srcs/http/request/http_storage.hpp
  test/unit/Makefile
  test/unit/http_parse/test_http_parse.cpp
  test/unit/http_storage/test_http_storage.cpp
Labels: http

#214 [add] VirtualServerをServer classに組み込む
  srcs/main.cpp
  srcs/server.cpp
  srcs/server.hpp
  srcs/server_info.cpp
  srcs/server_info.hpp
  srcs/utils/utils.hpp
  srcs/virtual_server/virtual_server.cpp
  srcs/virtual_server/virtual_server.hpp
  srcs/virtual_server/virtual_server_storage.cpp
  srcs/virtual_server/virtual_server_storage.hpp
  test/unit/sock_context/test_sock_context.cpp
  test/unit/virtual_server/test_virtual_server.cpp
  test/unit/virtual_server_storage/test_virtual_server_storage.cpp
Labels: server

#223 [add] Rin/205 add lexerのunit test追加
  test/unit/Makefile
  test/unit/config_parse/lexer/Makefile
  test/unit/config_parse/lexer/test_config_lexer.cpp
Labels: configuration

#231 [update] class Config と class Server を繋げる
  Dockerfile
  Makefile
  config/default.conf
  srcs/config/_config.cpp
  srcs/config/_config.hpp
  srcs/config_parse/context.hpp
  srcs/main.cpp
  srcs/server.cpp
  srcs/server.hpp
  srcs/utils/utils.hpp
  srcs/virtual_server/virtual_server.hpp
  test/unit/virtual_server/test_virtual_server.cpp
  test/unit/virtual_server_storage/test_virtual_server_storage.cpp
Labels: configuration, server

#226 [add] 225 test configparserのテスト追加
  test/unit/Makefile
  test/unit/config_parse/parser/Makefile
  test/unit/config_parse/parser/test_config_parser.cpp
Labels: configuration
