Repository sawamura-hayato/webserv, pull requests merged in 2024-09, with the labels that each got.

#349 [test] MessageManager unit test 更新
  srcs/server/message_manager/message_manager.cpp
  srcs/server/message_manager/message_manager.hpp
  srcs/server/server.cpp
  test/unit/message_manager/test_message_manager.cpp
Labels: test

#350 [server] send() し切ってから disconnect
  srcs/server/send.cpp
  srcs/server/send.hpp
  srcs/server/server.cpp
  test/client/client.cpp
Labels: server

#343 [http] HttpResponse::TmpCreateHttpResponseResult関数を更新
  sandbox/sawa/http_parse/http_parse.cpp
  sandbox/sawa/http_parse/http_parse.hpp
  srcs/http/http_exception.cpp
  srcs/http/http_exception.hpp
  srcs/http/request/parse/http_parse.cpp
  srcs/http/request/parse/http_parse.hpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.cpp
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.hpp
  srcs/http/tmp_http.cpp
  srcs/http/tmp_http.hpp
  test/unit/http/Makefile
  test/unit/http_method/Makefile
  test/unit/http_method/test_http_method.cpp
  test/unit/http_parse/Makefile
  test/unit/http_storage/Makefile
Labels: http

#359 [add] set signal handler
  srcs/main.cpp
Labels: server

#360 [update] readfile integrationtest
  test/client/Makefile
  test/integration/test_integration.py
Labels: test

#361 [server] fcntl() を使って各 fd に nonblocking mode をセットする
  srcs/server/send.cpp
  srcs/server/server.cpp
  srcs/server/server.hpp
Labels: server

#363 [server] 複数 virtual server が同じ host:port を共有している場合の対応
  srcs/server/connection.cpp
  srcs/server/context_manager/context_manager.cpp
  srcs/server/context_manager/context_manager.hpp
  srcs/server/context_manager/sock_context/server_info.cpp
  srcs/server/context_manager/sock_context/server_info.hpp
  srcs/server/context_manager/sock_context/sock_context.cpp
  srcs/server/context_manager/sock_context/sock_context.hpp
  srcs/server/context_manager/virtual_server/virtual_server.cpp
  srcs/server/context_manager/virtual_server/virtual_server.hpp
  srcs/server/context_manager/virtual_server/virtual_server_storage.cpp
  srcs/server/context_manager/virtual_server/virtual_server_storage.hpp
  srcs/server/dto/dto_server_to_http.hpp
  srcs/server/server.cpp
  srcs/server/server.hpp
  test/unit/sock_context/test_sock_context.cpp
  test/unit/virtual_server/test_virtual_server.cpp
  test/unit/virtual_server_storage/test_virtual_server_storage.cpp
Labels: server

#352 [http]HttpServerInfoCheckクラスを更新
  sandbox/rin/http_path_check/draft.cpp
  sandbox/rin/http_path_check/http_path_check.cpp
  sandbox/rin/http_path_check/http_path_check.hpp
  sandbox/rin/http_path_check/main.cpp
  sandbox/sawa/http_parse/http_parse.hpp
  sandbox/sawa/http_parse/main.cpp
  srcs/http/IHttp.hpp
  srcs/http/client_infos.hpp
  srcs/http/http_format.hpp
  srcs/http/request/parse/http_parse.hpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.cpp
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.hpp
  srcs/http/server_infos.hpp
  srcs/http/status_code.cpp
  srcs/http/status_code.hpp
  srcs/http/tmp_http.cpp
  srcs/http/tmp_http.hpp
  test/unit/Makefile
  test/unit/http/Makefile
  test/unit/http_method/Makefile
  test/unit/http_parse/test_http_parse.cpp
  test/unit/http_serverinfo_check/Makefile
  test/unit/http_serverinfo_check/test_http_serverinfo_check.cpp
Labels: http

#374 [update] host_portをpairに
  srcs/config_parse/context.hpp
  srcs/config_parse/parser.cpp
  srcs/config_parse/parser.hpp
  test/config_files/error_test_files/listen/listen_invalid_format.conf
  test/config_files/error_test_files/listen/listen_multi_hosts.conf
  test/unit/config_parse/parser/test_config_parser.cpp
  test/unit/config_parse/test_config.cpp
Labels: configuration

#372 [http] MethodHandlerを実行できるようにした
  srcs/http/http_message.cpp
  srcs/http/http_message.hpp
  srcs/http/request/parse/http_parse.cpp
  srcs/http/response/http_handle_method.cpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  srcs/http/response/stat.cpp
  srcs/http/response/stat.hpp
  test/unit/Makefile
  test/unit/http/Makefile
  test/unit/http_method/test_http_method.cpp
  test/unit/http_parse/test_http_parse.cpp
Labels: http

#375 [update] Config で追加されたディレクティブに Server が対応する
  srcs/server/context_manager/virtual_server/virtual_server.cpp
  srcs/server/context_manager/virtual_server/virtual_server.hpp
  srcs/server/server.cpp
  test/unit/virtual_server/test_virtual_server.cpp
  test/unit/virtual_server_storage/test_virtual_server_storage.cpp
Labels: server

#385 Http, HttpResponseクラスをリファクタリング
  srcs/http/http.cpp
  srcs/http/http.hpp
  srcs/http/response/http_handle_method.cpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  test/unit/Makefile
  test/unit/http/test_http.cpp
Labels: refactor

#386 Method Class作成
  srcs/http/response/http_handle_method.cpp
  srcs/http/response/http_method.hpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  test/unit/http_method/test_http_method.cpp
Labels: http

#387 [server] client を accept() した server の host:port を取得し、候補となる VirtualServerList を Http に渡す
  srcs/http/IHttp.hpp
  srcs/http/mock_http.cpp
  srcs/http/mock_http.hpp
  srcs/server/connection.cpp
  srcs/server/connection.hpp
  srcs/server/context_manager/context_manager.cpp
  srcs/server/context_manager/context_manager.hpp
  srcs/server/context_manager/sock_context/client_info.cpp
  srcs/server/context_manager/sock_context/client_info.hpp
  srcs/server/context_manager/virtual_server_storage/virtual_server_storage.cpp
  srcs/server/context_manager/virtual_server_storage/virtual_server_storage.hpp
  srcs/server/dto/dto_server_to_http.hpp
  srcs/server/server.cpp
  srcs/server/server.hpp
  srcs/server/virtual_server/virtual_server.cpp
  srcs/server/virtual_server/virtual_server.hpp
  test/unit/sock_context/test_sock_context.cpp
  test/unit/virtual_server/Makefile
  test/unit/virtual_server_storage/Makefile
Labels: server

#392 [http] IHttp / 関数追加、Http.Run() の引数の更新
  srcs/http/IHttp.hpp
  srcs/http/client_infos.hpp
  srcs/http/mock_http.cpp
  srcs/http/mock_http.hpp
  srcs/server/dto/dto_server_to_http.hpp
  srcs/server/server.cpp
  srcs/server/server.hpp
  test/unit/sock_context/test_sock_context.cpp
Labels: server

#390 MethodHandlerの修正
  srcs/http/response/http_method.cpp
  srcs/http/response/http_method.hpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  srcs/http/response/stat.hpp
  test/unit/Makefile
  test/unit/http_method/Makefile
  test/unit/http_method/test_http_method.cpp
Labels: bug

#395 HeaderFieldsの初期化する関数作成
  srcs/http/response/http_method.cpp
  srcs/http/response/http_method.hpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  test/unit/http_method/test_http_method.cpp
Labels: http

#399 HttpResponseFormat初期化子リスト追加
  srcs/http/http_format.hpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
Labels: http

#400 IsConnectionKeep関数追加
  srcs/http/http_message.cpp
  srcs/http/http_message.hpp
  srcs/http/request/parse/http_parse.cpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
Labels: http

#401 [http] vslist routerをHttpServerInfoCheckに追加
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.cpp
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.hpp
  test/unit/http_method/Makefile
  test/unit/http_serverinfo_check/Makefile
  test/unit/http_serverinfo_check/test_http_serverinfo_check.cpp
Labels: http

#407 response_header_fieldsに命名規則変更
  srcs/http/response/http_method.cpp
  srcs/http/response/http_method.hpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  test/unit/http_method/test_http_method.cpp
Labels: http

#409 [server] port 同じで 0.0.0.0 と他が存在する場合
  srcs/config_parse/context.hpp
  srcs/server/connection.cpp
  srcs/server/connection.hpp
  srcs/server/context_manager/context_manager.cpp
  srcs/server/context_manager/context_manager.hpp
  srcs/server/context_manager/sock_context/server_info.cpp
  srcs/server/context_manager/sock_context/server_info.hpp
  srcs/server/context_manager/sock_context/sock_context.cpp
  srcs/server/context_manager/sock_context/sock_context.hpp
  srcs/server/context_manager/virtual_server_storage/virtual_server_storage.cpp
  srcs/server/context_manager/virtual_server_storage/virtual_server_storage.hpp
  srcs/server/define.cpp
  srcs/server/define.hpp
  srcs/server/server.cpp
  srcs/server/server.hpp
  test/unit/sock_context/Makefile
  test/unit/sock_context/test_sock_context.cpp
  test/unit/virtual_server_storage/Makefile
  test/unit/virtual_server_storage/test_virtual_server_storage.cpp
Labels: server

#405 IsCgi関数作成
  srcs/http/response/http_method.hpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
Labels: http

#410 [add] cgi_parseを追加
  sandbox/sawa/cgi_env/cgi.hpp
  srcs/http/response/cgi_parse/cgi_parse.cpp
  srcs/http/response/cgi_parse/cgi_parse.hpp
  test/unit/Makefile
  test/unit/http_cgi_parse/Makefile
  test/unit/http_cgi_parse/test_http_cgi_parse.cpp
Labels: http

#412 [add] host:port 管理機能変更に伴う virtual_server_storage unit test 追加
  test/unit/message_manager/test_message_manager.cpp
  test/unit/virtual_server_storage/test_virtual_server_storage.cpp
Labels: test

#416 [fix] devcontainer で listen localhost エラー
  srcs/server/connection.cpp
Labels: server

#414 [add] cgiの実行部分を追加
  .gitignore
  cgi-bin/env.py
  cgi-bin/test.sh
  srcs/http/response/cgi/cgi.cpp
  srcs/http/response/cgi/cgi.hpp
  test/unit/Makefile
  test/unit/http_cgi/Makefile
  test/unit/http_cgi/test_http_cgi.cpp
Labels: http

#419 MockDtoServerInfoからVirtualServerAddLIstに変更
  srcs/http/http.cpp
  srcs/http/http.hpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.cpp
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.hpp
  test/unit/http_serverinfo_check/test_http_serverinfo_check.cpp
Labels: http

#421 [update] cgiの実行部分のTestとエラー対応を追加しました
  .gitignore
  cgi-bin/print_stdin.pl
  srcs/http/response/cgi/cgi.cpp
  srcs/http/response/cgi/cgi.hpp
  test/unit/http_cgi/test_http_cgi.cpp
Labels: http

#423 [add] index autoindex handler
  sandbox/rin/main.cpp
  srcs/http/response/http_method.cpp
  srcs/http/response/http_method.hpp
  srcs/http/response/http_response.cpp
  test/unit/http_method/expected/index.txt
  test/unit/http_method/test/index.txt
  test/unit/http_method/test_http_method.cpp
Labels: http

#427 Httpクラスのテストの構想作成
  srcs/http/http.hpp
  test/unit/http/init_virtual_servers.cpp
  test/unit/http/test_http.cpp
Labels: http

#428 [server] server.Run() より前に終了して良いようなエラー処理、異常時にも server が die しない処理
  srcs/epoll/epoll.cpp
  srcs/main.cpp
  srcs/server/context_manager/sock_context/client_info.cpp
  srcs/server/context_manager/sock_context/server_info.cpp
  srcs/server/context_manager/sock_context/sock_context.cpp
  srcs/server/exception/start_up_exception.cpp
  srcs/server/exception/start_up_exception.hpp
  srcs/server/server.cpp
Labels: server

#444 [add] container に user 設定する
  .devcontainer/Dockerfile
  test/webserv/unit/http_method/Makefile
Labels: setting

#438 デフォルトの設定ファイルとVirutalServerAddrListの構造体作成
  sandbox/sawa/default.conf
  test/webserv/unit/http/Makefile
  test/webserv/unit/http/build_virtual_server_addr_list.cpp
  test/webserv/unit/http/init_virtual_servers.cpp
  test/webserv/unit/http/test_http.cpp
  test/webserv/unit/http_serverinfo_check/test_http_serverinfo_check.cpp
Labels: http

#443 [add] server.Run() 後のエラー処理
  srcs/epoll/epoll.cpp
  srcs/http/response/cgi/cgi.cpp
  srcs/http/response/cgi/cgi.hpp
  srcs/main.cpp
  srcs/server/connection.cpp
  srcs/server/read.cpp
  srcs/server/send.cpp
  srcs/server/server.cpp
  srcs/server/server.hpp
  srcs/utils/system_exception.cpp
  srcs/utils/system_exception.hpp
  srcs/utils/utils.hpp
Labels: server

#450 [listen] listen() の第 2 引数を適切な数値にする
  srcs/server/connection.cpp
  srcs/server/connection.hpp
  test/common/client/Makefile
Labels: connection

#451 [epoll] epoll_wait() の MAX_EVENTS を設定
  srcs/epoll/epoll.cpp
  srcs/epoll/epoll.hpp
  srcs/event/event.hpp
  srcs/server/server.cpp
Labels: server

#458 [update] namespace cgi from http
  srcs/cgi/cgi.cpp
  srcs/cgi/cgi.hpp
  srcs/cgi/cgi_request.cpp
  srcs/cgi/cgi_request.hpp
  srcs/http/response/cgi_parse/cgi_parse.cpp
  srcs/http/response/cgi_parse/cgi_parse.hpp
  test/webserv/unit/Makefile
  test/webserv/unit/cgi/Makefile
  test/webserv/unit/cgi/test_cgi.cpp
  test/webserv/unit/cgi_parse/Makefile
  test/webserv/unit/cgi_parse/test_cgi_parse.cpp
Labels: cgi

#447 Httpクラスのテストケース作成
  root/upload/.gitkeep
  root/upload/default.txt
  srcs/http/client_infos.hpp
  srcs/http/http.cpp
  srcs/http/http.hpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  test/webserv/expected_response/default_body_message/created.txt
  test/webserv/expected_response/default_body_message/file.txt
  test/webserv/expected_response/default_body_message/forbidden.txt
  test/webserv/expected_response/default_body_message/index.txt
  test/webserv/expected_response/default_body_message/no_content.txt
  test/webserv/expected_response/default_body_message/not_found.txt
  test/webserv/expected_response/default_body_message/not_implemented.txt
  test/webserv/expected_response/default_body_message/redirect.txt
  test/webserv/expected_response/default_status_line/not_found.txt
  test/webserv/expected_response/default_status_line/not_implemented.txt
  test/webserv/expected_response/default_status_line/ok.txt
  test/webserv/unit/http/Makefile
  test/webserv/unit/http/expected_response/test2.txt
  test/webserv/unit/http/test_case/get/2xx/test_get_ok_1_no_connection.cpp
  test/webserv/unit/http/test_case/get/4xx/test_get_not_found_1_not_exist_file.cpp
  test/webserv/unit/http/test_case/test_case.hpp
  test/webserv/unit/http/test_case/test_expected_response.hpp
  test/webserv/unit/http/test_case/test_handler.cpp
  test/webserv/unit/http/test_case/test_handler.hpp
  test/webserv/unit/http/test_case/test_request.hpp
  test/webserv/unit/http/test_http.cpp
  test/webserv/unit/http_method/test_http_method.cpp
  test/webserv/unit/http_response/test_http_response.cpp
Labels: http

#467 [fix] chunked request handlerの修正
  srcs/http/request/parse/http_parse.cpp
  test/webserv/unit/http_parse/test_http_parse.cpp
Labels: http

#471 [update] autoindexの表示をアップデート
  srcs/http/response/http_method.cpp
  test/webserv/unit/http_method/test_http_method.cpp
Labels: http

#472 [add] cgi_manager 追加
  srcs/cgi/cgi.cpp
  srcs/cgi/cgi.hpp
  srcs/server/cgi_manager/cgi_manager.cpp
  srcs/server/cgi_manager/cgi_manager.hpp
Labels: cgi, server

#476 GETのテストケース追加
  sandbox/sawa/default.conf
  srcs/http/http.cpp
  srcs/http/http.hpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  test/common/request/get/2xx/200_01_connection_close.txt
  test/common/request/get/4xx/400_01_only_crlf.txt
  test/common/request/get/4xx/405_01_not_allowed.txt
  test/common/request/post/2xx/200_03_post_keep_body_message_200_post_close_body_message.txt
  test/common/request/post/4xx/405_01_post_not_allowed.txt
  test/nginx/manual/Dockerfile
  test/nginx/manual/Makefile
  test/nginx/manual/nginx.conf
  test/nginx/manual/test.cpp
  test/webserv/expected_response/default_body_message/400_bad_request.txt
  test/webserv/expected_response/default_body_message/405_method_not_allowed.txt
  test/webserv/expected_response/default_body_message/408_timeout.txt
  test/webserv/expected_response/default_status_line/400_bad_request.txt
  test/webserv/expected_response/default_status_line/405_method_not_allowed.txt
  test/webserv/expected_response/default_status_line/408_timeout.txt
  test/webserv/integration/test_integration.py
  test/webserv/unit/http/Makefile
  test/webserv/unit/http/build_virtual_server_addr_list.cpp
  test/webserv/unit/http/test_case/get/test_2xx.cpp
  test/webserv/unit/http/test_case/get/test_4xx.cpp
  test/webserv/unit/http/test_case/get/test_5xx.cpp
  test/webserv/unit/http/test_case/test_case.hpp
  test/webserv/unit/http/test_case/test_expected_response.hpp
  test/webserv/unit/http/test_case/test_handler.cpp
  test/webserv/unit/http/test_case/test_request.hpp
  test/webserv/unit/http/test_http.cpp
Labels: test, http

#479 IsSupportedMethod関数作成
  srcs/http/http_message.cpp
  srcs/http/http_message.hpp
  srcs/http/response/http_method.cpp
  srcs/http/response/http_method.hpp
  srcs/http/status_code.cpp
  srcs/http/status_code.hpp
  test/webserv/unit/http/test_http.cpp
  test/webserv/unit/http_response/test_http_response.cpp
Labels: http

#474 [add] CgiManager unit test 追加
  test/webserv/unit/Makefile
  test/webserv/unit/cgi_manager/Makefile
  test/webserv/unit/cgi_manager/test_cgi_manager.cpp
Labels: test

#482 [fix] connection / getaddrinfo() の freeaddrinfo() ミスで leak してるの修正
  srcs/server/connection.cpp
Labels: bug, connection

#485 [update] SystemException の移動, 差し替え
  srcs/cgi/cgi.cpp
  srcs/epoll/epoll.cpp
  srcs/exception/system_exception.cpp
  srcs/exception/system_exception.hpp
  srcs/http/http_exception.hpp
  srcs/http/response/http_method.cpp
  srcs/http/response/http_method.hpp
  srcs/http/response/http_response.cpp
  srcs/http/response/stat.cpp
  srcs/server/connection.cpp
  srcs/server/server.cpp
  srcs/utils/system_exception.cpp
  srcs/utils/system_exception.hpp
  srcs/utils/utils.hpp
  test/webserv/unit/cgi/Makefile
  test/webserv/unit/cgi_manager/Makefile
  test/webserv/unit/http/Makefile
  test/webserv/unit/http_method/Makefile
  test/webserv/unit/http_response/Makefile
  test/webserv/unit/stat/Makefile
  test/webserv/unit/stat/test_stat.cpp
Labels: server

#478 Http::BadRequestReponse作成
  srcs/http/http.cpp
  srcs/http/http.hpp
  srcs/http/http_format.hpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  test/common/request/get/4xx/400_01_only_crlf.txt
  test/common/request/get/4xx/400_03_no_ascii_method.txt
  test/common/request/get/4xx/400_11_no_header_field_colon.txt
  test/webserv/unit/http/test_case/get/test_4xx.cpp
  test/webserv/unit/http/test_case/test_case.hpp
  test/webserv/unit/http/test_case/test_request.hpp
  test/webserv/unit/http/test_http.cpp
Labels: http

#491 [update] Implement Cgi
  srcs/cgi/cgi.cpp
  srcs/cgi/cgi.hpp
  srcs/server/cgi_manager/cgi_manager.cpp
  srcs/server/cgi_manager/cgi_manager.hpp
  test/webserv/unit/cgi/test_cgi.cpp
  test/webserv/unit/cgi_manager/test_cgi_manager.cpp
Labels: cgi

#480 HttpResultにrequet_bufferを追加
  srcs/http/http.cpp
  srcs/http/http.hpp
  test/common/request/get/2xx/200_13_extra_request.txt
  test/webserv/unit/http/test_case/get/test_2xx.cpp
  test/webserv/unit/http/test_case/test_case.hpp
  test/webserv/unit/http/test_case/test_request.hpp
  test/webserv/unit/http/test_http.cpp
Labels: http

#493 [integ] serverとhttpを統合しました
  config/default.conf
  srcs/http/request/parse/http_parse.cpp
  srcs/server/server.cpp
  srcs/server/server.hpp
  test/common/request/get/2xx/200_03_sub_connection_close.txt
  test/webserv/integration/http/test_method.py
  test/webserv/integration/test_integration.py
  test/webserv/unit/http/test_http.cpp
  test/webserv/unit/http_parse/test_http_parse.cpp
Labels: http, server

#500 [fix] content-type: test/html -> text/html に修正
  srcs/http/http_message.cpp
  srcs/http/http_message.hpp
  srcs/http/response/http_response.cpp
  test/webserv/unit/http/test_case/get/test_2xx.cpp
  test/webserv/unit/http/test_case/get/test_4xx.cpp
  test/webserv/unit/http/test_case/get/test_5xx.cpp
  test/webserv/unit/http_response/test_http_response.cpp
Labels: bug, http

#503 [fix] Server / `message_manager_.GetRequestBuf()` で起きてる Error: map::at 修正
  srcs/server/message_manager/message_manager.cpp
  srcs/server/message_manager/message_manager.hpp
  srcs/server/server.cpp
  srcs/server/server.hpp
Labels: bug, server

#508 [fix] content-type: test/html -> text/html に修正
  srcs/http/http_message.cpp
  srcs/http/http_message.hpp
  srcs/http/response/http_response.cpp
  test/webserv/integration/test_integration.py
  test/webserv/unit/http/test_case/get/test_2xx.cpp
  test/webserv/unit/http/test_case/get/test_4xx.cpp
  test/webserv/unit/http/test_case/get/test_5xx.cpp
  test/webserv/unit/http_response/test_http_response.cpp
Labels: test, http

#502 [update] index.htmlを改修
  root/html/index.html
  root/html/sub/index.html
Labels: style

#510 HttpParseクラスバグ修正
  srcs/http/http.cpp
  srcs/http/http_exception.cpp
  srcs/http/request/parse/http_parse.cpp
  srcs/http/request/parse/http_parse.hpp
  test/common/request/get/4xx/400_15_not_exist_header_field.txt
  test/common/request/get/4xx/400_15_space_in_header_field_name.txt
  test/webserv/unit/http/test_case/get/test_2xx.cpp
  test/webserv/unit/http/test_case/get/test_4xx.cpp
  test/webserv/unit/http/test_case/get/test_5xx.cpp
  test/webserv/unit/http/test_case/test_case.hpp
  test/webserv/unit/http/test_case/test_handler.cpp
  test/webserv/unit/http/test_case/test_handler.hpp
  test/webserv/unit/http/test_case/test_request.hpp
  test/webserv/unit/http/test_http.cpp
  test/webserv/unit/http_parse/test_http_parse.cpp
Labels: http

#514 [update] integration testを追加
  test/webserv/integration/test_integration.py
Labels: test

#513 [add] Server に CgiManager を組み込む
  srcs/cgi/cgi.cpp
  srcs/http/IHttp.hpp
  srcs/http/http.cpp
  srcs/http/http.hpp
  srcs/http/http_result.hpp
  srcs/server/cgi_manager/cgi_manager.cpp
  srcs/server/read.cpp
  srcs/server/read.hpp
  srcs/server/send.cpp
  srcs/server/send.hpp
  srcs/server/server.cpp
  srcs/server/server.hpp
  test/webserv/unit/cgi_manager/test_cgi_manager.cpp
  test/webserv/unit/http/Makefile
Labels: server

#521 [fix] connection: keep-alive で 2 個目の request が返らない
  srcs/server/server.cpp
  srcs/server/server.hpp
Labels: bug, server

#516 GetErrorResponse作成
  srcs/http/IHttp.hpp
  srcs/http/error_state.hpp
  srcs/http/http.cpp
  srcs/http/http.hpp
  srcs/http/mock_http.cpp
  srcs/http/mock_http.hpp
  srcs/http/response/http_method.cpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  srcs/http/status_code.cpp
  srcs/http/status_code.hpp
  test/webserv/expected_response/default_body_message/500_internal_server_error.txt
  test/webserv/expected_response/default_status_line/408_timeout.txt
  test/webserv/expected_response/default_status_line/500_internal_server_error.txt
  test/webserv/unit/http/Makefile
  test/webserv/unit/http/test_case/test_case.hpp
  test/webserv/unit/http/test_case/test_expected_response.hpp
  test/webserv/unit/http/test_case/test_get_error_response.cpp
  test/webserv/unit/http/test_http.cpp
  test/webserv/unit/http_method/test_http_method.cpp
Labels: http

#522 [update] chunked request で終端を待つように
  srcs/http/request/parse/http_parse.cpp
  test/webserv/unit/http_parse/test_http_parse.cpp
Labels: http

#531 [add] client_ip も client_fd に紐づけて保持し、http.Run() で渡す
  srcs/http/client_infos.hpp
  srcs/server/connection.cpp
  srcs/server/connection.hpp
  srcs/server/context_manager/context_manager.cpp
  srcs/server/context_manager/context_manager.hpp
  srcs/server/context_manager/sock_context/client_info.cpp
  srcs/server/context_manager/sock_context/client_info.hpp
  srcs/server/server.cpp
  test/webserv/unit/sock_context/test_sock_context.cpp
Labels: connection, server

#533 [add] Http.GetResponseFromCgi() の返り値 HttpResult のハンドリング追加
  srcs/epoll/epoll.cpp
  srcs/epoll/epoll.hpp
  srcs/http/IHttp.hpp
  srcs/http/http.cpp
  srcs/http/http.hpp
  srcs/http/mock_http.cpp
  srcs/http/mock_http.hpp
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.hpp
  srcs/http/server_infos.hpp
  srcs/server/server.cpp
  srcs/server/server.hpp
Labels: server

#524 [update] HttpResponseの中でCgiリクエストをパース
  srcs/http/http.cpp
  srcs/http/response/cgi_parse/cgi_parse.cpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  test/webserv/unit/http/Makefile
  test/webserv/unit/http_method/Makefile
  test/webserv/unit/http_response/Makefile
  test/webserv/unit/http_response/test_http_response.cpp
Labels: http, cgi

#530 [add] redirect handlerを追加
  srcs/http/http_message.cpp
  srcs/http/http_message.hpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
Labels: http

#535 [update] Redirect機能を完成
  config/default.conf
  srcs/http/request/parse/http_parse.cpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.cpp
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.hpp
  test/webserv/unit/http/build_virtual_server_addr_list.cpp
Labels: http

#538 [implement] CgiResponseからHttpResponseを取得する部分を実装
  srcs/http/http.cpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  test/webserv/unit/http/Makefile
  test/webserv/unit/http/test_case/test_case.hpp
  test/webserv/unit/http/test_case/test_get_response_from_cgi.cpp
  test/webserv/unit/http/test_http.cpp
Labels: http, cgi
