Repository sawamura-hayato/webserv, pull requests merged in 2024-08, with the labels that each got.

#232 [update] Rin/229 update configlexerに対するテストケース追加
  test/unit/config_parse/lexer/test_config_lexer.cpp
Labels: configuration

#227 [http] ParseHttpRequestFormat関数 作成
  sandbox/sawa/http_parse/http_parse.hpp
  srcs/http/http_message.cpp
  srcs/http/http_message.hpp
  srcs/http/request/http_storage.cpp
  srcs/http/request/http_storage.hpp
  srcs/http/request/parse/http_parse.cpp
  srcs/http/request/parse/http_parse.hpp
  srcs/http/tmp_http.cpp
  srcs/http/tmp_http.hpp
  srcs/utils/convert_str.cpp
  srcs/utils/utils.hpp
  test/unit/http/Makefile
  test/unit/http/test_http.cpp
  test/unit/http_parse/Makefile
  test/unit/http_storage/Makefile
  test/unit/http_storage/test_http_storage.cpp
Labels: http

#240 [add] Rin/230 update configparserに対するテストケース追加
  test/unit/config_parse/parser/test_config_parser.cpp
Labels: configuration

#242 [add] Rin/241 add configparserのエラーテストの作成
  test/unit/config_parse/parser/test_config_parser.cpp
Labels: configuration

#246 [add] Rin/245 add configのファイルから読み込むテスト作成
  sandbox/rin/config_parse/test/Makefile
  sandbox/rin/config_parse/test/config_samp.conf
  sandbox/rin/config_parse/test/main.cpp
  sandbox/rin/config_parse/test/main_config.cpp
  test/unit/Makefile
  test/unit/config_parse/Makefile
  test/unit/config_parse/output.txt
  test/unit/config_parse/test_config.cpp
  test/unit/config_parse/test_file/test1.conf
  test/unit/config_parse/test_file/test2.conf
  test/unit/config_parse/test_file/test3.conf
  test/unit/config_parse/test_file/test4.conf
  test/unit/config_parse/test_file/test5.conf
  test/unit/config_parse/test_file/test6.conf
  test/unit/config_parse/test_file/test7.conf
  test/unit/config_parse/test_file_error/error_test1.conf
  test/unit/config_parse/test_file_error/error_test10.conf
  test/unit/config_parse/test_file_error/error_test11.conf
  test/unit/config_parse/test_file_error/error_test12.conf
  test/unit/config_parse/test_file_error/error_test13.conf
  test/unit/config_parse/test_file_error/error_test14.conf
  test/unit/config_parse/test_file_error/error_test15.conf
  test/unit/config_parse/test_file_error/error_test16.conf
  test/unit/config_parse/test_file_error/error_test2.conf
  test/unit/config_parse/test_file_error/error_test3.conf
  test/unit/config_parse/test_file_error/error_test4.conf
  test/unit/config_parse/test_file_error/error_test5.conf
  test/unit/config_parse/test_file_error/error_test6.conf
  test/unit/config_parse/test_file_error/error_test7.conf
  test/unit/config_parse/test_file_error/error_test8.conf
  test/unit/config_parse/test_file_error/error_test9.conf
Labels: configuration

#260 [server] SockContext, VirtualServer を取りまとめるクラス作成
  srcs/epoll/epoll.cpp
  srcs/epoll/epoll.hpp
  srcs/event/event.hpp
  srcs/server/buffer.cpp
  srcs/server/buffer.hpp
  srcs/server/connection.cpp
  srcs/server/connection.hpp
  srcs/server/context_manager/context_manager.cpp
  srcs/server/context_manager/context_manager.hpp
  srcs/server/context_manager/sock_context/client_info.cpp
  srcs/server/context_manager/sock_context/client_info.hpp
  srcs/server/context_manager/sock_context/server_info.cpp
  srcs/server/context_manager/sock_context/server_info.hpp
  srcs/server/context_manager/sock_context/sock_context.cpp
  srcs/server/context_manager/sock_context/sock_context.hpp
  srcs/server/context_manager/virtual_server/virtual_server.cpp
  srcs/server/context_manager/virtual_server/virtual_server.hpp
  srcs/server/context_manager/virtual_server/virtual_server_storage.cpp
  srcs/server/context_manager/virtual_server/virtual_server_storage.hpp
  srcs/server/main.cpp
  srcs/server/server.cpp
  srcs/server/server.hpp
  test/unit/sock_context/Makefile
  test/unit/virtual_server/Makefile
  test/unit/virtual_server_storage/Makefile
Labels: server

#237 [test] ParseHttpRequestFormat関数のテスト関数作成
  srcs/http/http_message.cpp
  srcs/http/http_message.hpp
  srcs/http/request/parse/http_parse.cpp
  srcs/http/tmp_http.cpp
  srcs/http/tmp_http.hpp
  test/unit/http/test_http.cpp
Labels: http

#247 [fix] Rin/228 fix configparserのエラー修正
  config/default.conf
  srcs/config_parse/config.cpp
  srcs/config_parse/parser.cpp
  test/unit/config_parse/Makefile
  test/unit/config_parse/test_config.cpp
Labels: configuration

#268 main.cpp を srcs/ 直下に戻した
  srcs/main.cpp
Labels: server

#252 [update] Rin/250 update configの機能追加 1
  config/default.conf
  srcs/config_parse/config.cpp
  srcs/config_parse/context.hpp
  srcs/config_parse/lexer.cpp
  srcs/config_parse/parser.cpp
  srcs/config_parse/parser.hpp
  srcs/server/server.cpp
  test/unit/config_parse/Makefile
  test/unit/config_parse/lexer/test_config_lexer.cpp
  test/unit/config_parse/parser/test_config_parser.cpp
  test/unit/config_parse/test_config.cpp
  test/unit/config_parse/test_file/test3.conf
  test/unit/config_parse/test_file/test4.conf
  test/unit/config_parse/test_file/test8.conf
Labels: configuration

#274 [style] fix typo
  srcs/config_parse/context.hpp
  srcs/http/request/parse/http_parse.cpp
  srcs/http/response/http_response.cpp
  srcs/server/server.cpp
  test/unit/http/test_http.cpp
  test/unit/http_parse/test_http_parse.cpp
  test/unit/sock_context/test_sock_context.cpp
Labels: style

#275 [add] Server class のエラー処理 (HttpResult 作成)
  srcs/http/IHttp.hpp
  srcs/http/http.cpp
  srcs/http/http.hpp
  srcs/http/http_result.hpp
  srcs/http/mock_http.cpp
  srcs/http/mock_http.hpp
  srcs/http/request/parse.cpp
  srcs/http/response/create_response.cpp
  srcs/main.cpp
  srcs/server/connection.cpp
  srcs/server/context_manager/sock_context/client_info.cpp
  srcs/server/context_manager/sock_context/sock_context.hpp
  srcs/server/context_manager/virtual_server/virtual_server.cpp
  srcs/server/server.cpp
  srcs/server/server.hpp
Labels: server

#264 [http] メソッドを実行する関数設計
  srcs/http/response/execute_method.cpp
  test/nginx/Dockerfile
  test/nginx/dav.conf
  test/nginx/index.html
  test/nginx/nginx.conf
  test/nginx/test.txt
Labels: http

#267 [add] request情報とconfig情報を確認するクラスの実装
  sandbox/rin/http_path_check/draft.cpp
  sandbox/rin/http_path_check/http_path_check.cpp
  sandbox/rin/http_path_check/http_path_check.hpp
  sandbox/rin/http_path_check/main.cpp
  sandbox/rin/main.cpp
  sandbox/rin/nginx/Dockerfile
  sandbox/rin/nginx/Makefile
  sandbox/rin/nginx/dav.conf
  sandbox/rin/nginx/lexer.cpp
  sandbox/rin/nginx/lexer.hpp
  sandbox/rin/nginx/nginx.conf
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.cpp
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.hpp
  test/unit/Makefile
  test/unit/http_serverinfo_check/Makefile
  test/unit/http_serverinfo_check/main.cpp
Labels: http

#280 [update] configparserのリファクタリング
  srcs/config_parse/config.hpp
  srcs/config_parse/directive_names.cpp
  srcs/config_parse/directive_names.hpp
  srcs/config_parse/lexer.cpp
  srcs/config_parse/parser.cpp
  srcs/config_parse/parser.hpp
  test/unit/config_parse/Makefile
  test/unit/config_parse/lexer/Makefile
  test/unit/config_parse/parser/Makefile
Labels: configuration

#276 [add] 簡易的な汎用 Result 型追加, `TryBind()` で使用
  srcs/server/connection.cpp
  srcs/server/connection.hpp
  srcs/utils/result.hpp
Labels: connection

#283 [utils] 試しに uilts の convert 系の返り値を Result 型にしてみる
  srcs/http/request/parse/http_parse.cpp
  srcs/utils/convert_str.cpp
  srcs/utils/utils.hpp
  test/unit/convert_str/test_convert_str.cpp
Labels: style

#286 [update] server / MockHttp をメンバに持ち、mock_http.Run() を適切な場所で呼び、HttpResult によって処理を分ける
  srcs/http/IHttp.hpp
  srcs/http/mock_http.cpp
  srcs/http/mock_http.hpp
  srcs/server/buffer.cpp
  srcs/server/buffer.hpp
  srcs/server/context_manager/context_manager.cpp
  srcs/server/context_manager/context_manager.hpp
  srcs/server/dto/dto_server_to_http.hpp
  srcs/server/server.cpp
  srcs/server/server.hpp
Labels: server

#277 [add] stat class 作成
  sandbox/sawa/print_file_info.cpp
  srcs/http/response/execute_method.cpp
  srcs/http/response/stat.cpp
  srcs/http/response/stat.hpp
  srcs/utils/system_exception.cpp
  srcs/utils/system_exception.hpp
  srcs/utils/utils.hpp
  test/unit/Makefile
  test/unit/stat/Makefile
  test/unit/stat/test_stat.cpp
Labels: http

#295 [server] timeout / Message class, MessageManager class 作成
  srcs/epoll/epoll.cpp
  srcs/epoll/epoll.hpp
  srcs/http/IHttp.hpp
  srcs/http/mock_http.cpp
  srcs/http/mock_http.hpp
  srcs/server/message_manager/message.cpp
  srcs/server/message_manager/message.hpp
  srcs/server/message_manager/message_manager.cpp
  srcs/server/message_manager/message_manager.hpp
  srcs/server/server.cpp
  srcs/server/server.hpp
Labels: server

#305 [add] MessageManager class の unit test 追加
  .github/workflows/unit_test_message_manager.yml
  test/unit/message_manager/Makefile
  test/unit/message_manager/test_message_manager.cpp
Labels: test

#290 [add] configのパラメータに対してのバリデーションを追加
  sandbox/rin/util_test.cpp
  srcs/config_parse/context.hpp
  srcs/config_parse/directive_names.cpp
  srcs/config_parse/directive_names.hpp
  srcs/config_parse/parser.cpp
  test/config/conf_file/success/single_server_ok1.conf
  test/unit/config_parse/Makefile
  test/unit/config_parse/parser/Makefile
  test/unit/config_parse/parser/test_config_parser.cpp
  test/unit/config_parse/test_config.cpp
  test/unit/config_parse/test_file/test4.conf
  test/unit/config_parse/test_file_error/error_test17.conf
  test/unit/config_parse/test_file_error/error_test18.conf
  test/unit/config_parse/test_file_error/error_test19.conf
Labels: configuration

#292 [add] configparser用のカスタムイテレーターの実装
  sandbox/rin/iterator.cpp
  srcs/config_parse/context.hpp
  srcs/config_parse/custom_const_iterator.hpp
  srcs/config_parse/parser.cpp
  srcs/config_parse/parser.hpp
  test/unit/Makefile
  test/unit/custom_const_iterator/Makefile
  test/unit/custom_const_iterator/test_custom_const_iterator.cpp
Labels: configuration

#287 [http] PostHandler 関数作成
  srcs/http/response/handle_method.cpp
  srcs/http/response/http_response.cpp
  srcs/http/response/http_response.hpp
  srcs/http/status_code.cpp
  srcs/http/status_code.hpp
  test/nginx/test.cpp
  test/unit/method/expected/created.txt
  test/unit/method/expected/no_content.txt
  test/unit/method/test_method.cpp
Labels: http

#308 [add] timeout / request_buf-response を Message class 内に移動
  srcs/server/buffer.cpp
  srcs/server/buffer.hpp
  srcs/server/message_manager/message.cpp
  srcs/server/message_manager/message.hpp
  srcs/server/message_manager/message_manager.cpp
  srcs/server/message_manager/message_manager.hpp
  srcs/server/read.cpp
  srcs/server/read.hpp
  srcs/server/server.cpp
  srcs/server/server.hpp
Labels: server

#309 [add] timeout / connection keep-alive の場合, send() 後の処理を分ける
  srcs/epoll/epoll.cpp
  srcs/http/http_result.hpp
  srcs/http/mock_http.cpp
  srcs/server/message_manager/message.cpp
  srcs/server/message_manager/message.hpp
  srcs/server/message_manager/message_manager.cpp
  srcs/server/message_manager/message_manager.hpp
  srcs/server/server.cpp
  test/client/client.cpp
  test/request_messages/apache_root/get/400_connection-keep_no-CRLF_no-content.txt
  test/request_messages/apache_root/get/408_connection-keep_CRLF_no-content.txt
  test/unit/message_manager/test_message_manager.cpp
Labels: server

#315 [add] ClientをPythonにコンパイルするIntegrationTestのモジュール追加
  .devcontainer/Dockerfile
  requirements.in
  sandbox/rin/pybind/bindings.cpp
  sandbox/rin/pybind/example.hpp
  sandbox/rin/pybind/main.py
  sandbox/rin/pybind/setup.py
  test/integration/client_module/__init__.py
  test/integration/client_module/client_bindings.cpp
  test/integration/client_module/integration_client.cpp
  test/integration/client_module/integration_client.hpp
  test/integration/client_module/setup.py
  test/integration/test_integration.py
Labels: test

#311 [add] ConfigParserのディレクティブ追加
  srcs/config_parse/context.hpp
  srcs/config_parse/directive_names.hpp
  srcs/config_parse/lexer.cpp
  srcs/config_parse/parser.cpp
  srcs/config_parse/parser.hpp
  test/unit/config_parse/Makefile
  test/unit/config_parse/parser/Makefile
  test/unit/config_parse/test_config.cpp
  test/unit/config_parse/test_file/test9.conf
Labels: configuration

#293 [http] DeleteHandler関数作成
  srcs/config_parse/custom_const_iterator.hpp
  srcs/http/response/handle_method.cpp
  srcs/http/response/http_response.hpp
  test/unit/method/test/no_authority_directory/test.txt
  test/unit/method/test_method.cpp
Labels: http

#316 [add] request message case
  test/request_messages/apache_root/get/200/connection-close.txt
  test/request_messages/apache_root/get/200/connection-close_close.txt
  test/request_messages/apache_root/get/200/connection-close_keep.txt
  test/request_messages/apache_root/get/200/connection-close_less-content_close.txt
  test/request_messages/apache_root/get/200/connection-close_over-content.txt
  test/request_messages/apache_root/get/200/connection-keep.txt
  test/request_messages/apache_root/get/200/duplicate-connection-field_close_close.txt
  test/request_messages/apache_root/get/200/duplicate-connection-field_close_keep.txt
  test/request_messages/apache_root/get/200/duplicate-connection-field_keep_close.txt
  test/request_messages/apache_root/get/200/duplicate-connection-field_keep_keep.txt
  test/request_messages/apache_root/get/200/empty-connection-value.txt
  test/request_messages/apache_root/get/200/header-value_space.txt
  test/request_messages/apache_root/get/200/no-connection.txt
  test/request_messages/apache_root/get/200/non-exist-connection-value.txt
  test/request_messages/apache_root/get/200/non-exist-field-name.txt
  test/request_messages/apache_root/get/200/upper-and-lower-header-fields.txt
  test/request_messages/apache_root/get/200_400_connection-keep_over-content.txt
  test/request_messages/apache_root/get/200_400_host_CRLF_connection-close.txt
  test/request_messages/apache_root/get/200_501_connection-keep_less-content_close.txt
  test/request_messages/apache_root/get/200_501_connection-keep_over-content_close.txt
  test/request_messages/apache_root/get/400/connection-keep_no-CRLF_no-content.txt
  test/request_messages/apache_root/get/400/duplicate-content-length.txt
  test/request_messages/apache_root/get/400/duplicate-host-field.txt
  test/request_messages/apache_root/get/400/empty-field-name.txt
  test/request_messages/apache_root/get/400/empty-host-valuet.txt
  test/request_messages/apache_root/get/400/field-name_space_colon.txt
  test/request_messages/apache_root/get/400/host_LF_connection-close.txt
  test/request_messages/apache_root/get/400/lower-http-version.txt
  test/request_messages/apache_root/get/400/lower-method_lower-http-version.txt
  test/request_messages/apache_root/get/400/no-CRLF_method.txt
  test/request_messages/apache_root/get/400/no-header-colon.txt
  test/request_messages/apache_root/get/400/no-host.txt
  test/request_messages/apache_root/get/400/only-CRLF.txt
  test/request_messages/apache_root/get/400/only-space.txt
  test/request_messages/apache_root/get/400/space-first.txt
  test/request_messages/apache_root/get/400/space_field-name.txt
  test/request_messages/apache_root/get/408/connection-close_less-content.txt
  test/request_messages/apache_root/get/408/connection-keep_CRLF_no-content.txt
  test/request_messages/apache_root/get/408/connection-keep_less-content.txt
  test/request_messages/apache_root/get/501/lower-method.txt
  test/request_messages/apache_root/get/501/non-exist-method.txt
  test/request_messages/apache_root/get/no-response_empty.txt
  test/request_messages/webserv/get/root/400/wrong-http-version.txt
Labels: test

#323 [add] cclient test case
  Makefile
  test/integration/http/test_method.py
  test/integration/test_integration.py
  test/integration/test_sample_integration.py
Labels: test

#324 [update] checkserverinfoの構造体を更新
  sandbox/rin/http_path_check/test.cpp
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.cpp
  srcs/http/response/http_serverinfo_check/http_serverinfo_check.hpp
  test/unit/http_serverinfo_check/Makefile
  test/unit/http_serverinfo_check/main.cpp
  test/unit/http_serverinfo_check/test_http_serverinfo_check.cpp
Labels: http

#319 [server] message のメンバの response を deque にし、複数 response が send 待ちになっている時・timeout時・ error時のどれにも対応
  srcs/server/message_manager/message.cpp
  srcs/server/message_manager/message.hpp
  srcs/server/message_manager/message_manager.cpp
  srcs/server/message_manager/message_manager.hpp
  srcs/server/server.cpp
  test/unit/message_manager/test_message_manager.cpp
Labels: server

#332 Apply format
  srcs/config_parse/custom_const_iterator.hpp
  srcs/http/request/parse/http_parse.hpp
  srcs/server/context_manager/context_manager.hpp
  srcs/server/dto/dto_server_to_http.hpp
Labels: style

#328 [update] config_directiveの重複をチェック
  srcs/config_parse/context.hpp
  srcs/config_parse/parser.cpp
  srcs/config_parse/parser.hpp
  test/config/conf_file/success/single_server_ok1.conf
  test/unit/config_parse/test_config.cpp
  test/unit/config_parse/test_file_error/error_test20.conf
  test/unit/config_parse/test_file_error/error_test21.conf
  test/unit/config_parse/test_file_error/error_test22.conf
  test/unit/config_parse/test_file_error/error_test23.conf
  test/unit/config_parse/test_file_error/error_test24.conf
  test/unit/config_parse/test_file_error/error_test25.conf
  test/unit/config_parse/test_file_error/error_test26.conf
  test/unit/config_parse/test_file_error/error_test27.conf
  test/unit/config_parse/test_file_error/error_test28.conf
  test/unit/config_parse/test_file_error/error_test29.conf
Labels: configuration

#333 [epoll] response によって epoll 監視イベント変更
  srcs/epoll/epoll.cpp
  srcs/epoll/epoll.hpp
  srcs/event/event.hpp
  srcs/server/message_manager/message.cpp
  srcs/server/message_manager/message.hpp
  srcs/server/message_manager/message_manager.cpp
  srcs/server/message_manager/message_manager.hpp
  srcs/server/server.cpp
  srcs/server/server.hpp
Labels: server

#330 [update] Configのテストファイルを整理
  test/config_files/error_test_files/alias/alias_duplicated.conf
  test/config_files/error_test_files/allowed_methods/allowed_methods_duplicated.conf
  test/config_files/error_test_files/allowed_methods/allowed_methods_invalid_method.conf
  test/config_files/error_test_files/autoindex/autoindex_duplicated.conf
  test/config_files/error_test_files/cgi_extension/cgi_extension_duplicated.conf
  test/config_files/error_test_files/client_max_body_size/client_max_body_size_duplicated.conf
  test/config_files/error_test_files/empty_file.conf
  test/config_files/error_test_files/empty_with_nl.conf
  test/config_files/error_test_files/error_page/error_page_duplicated.conf
  test/config_files/error_test_files/error_page/error_page_invalid_status_code.conf
  test/config_files/error_test_files/index/index_duplicated.conf
  test/config_files/error_test_files/invalid_context.conf
  test/config_files/error_test_files/invalid_directive.conf
  test/config_files/error_test_files/listen/listen_duplicated_port.conf
  test/config_files/error_test_files/listen/listen_multi_hosts.conf
  test/config_files/error_test_files/listen/listen_multi_params.conf
  test/config_files/error_test_files/listen/listen_no_delimiter.conf
  test/config_files/error_test_files/listen/listen_no_param.conf
  test/config_files/error_test_files/location/location_multi_params.conf
  test/config_files/error_test_files/location/location_no_end_bracket.conf
  test/config_files/error_test_files/multi_delimiters.conf
  test/config_files/error_test_files/no_context.conf
  test/config_files/error_test_files/return/return_duplicated.conf
  test/config_files/error_test_files/root/root_no_param.conf
  test/config_files/error_test_files/server/server_in_server.conf
  test/config_files/error_test_files/server/server_multi_start_bracket.conf
  test/config_files/error_test_files/server/server_no_end_bracket.conf
  test/config_files/error_test_files/server_name/server_name_no_delimiter.conf
  test/config_files/error_test_files/upload_dir/upload_dir_duplicated.conf
  test/config_files/test_files/test1.conf
  test/config_files/test_files/test2.conf
  test/config_files/test_files/test3.conf
  test/config_files/test_files/test4.conf
  test/config_files/test_files/test5.conf
  test/config_files/test_files/test6.conf
  test/config_files/test_files/test7.conf
  test/config_files/test_files/test8.conf
  test/config_files/test_files/test9.conf
  test/unit/config_parse/test_config.cpp
Labels: configuration

#340 [add] Apacheで試したいcgiスクリプト追加
  test/apache/Dockerfile
  test/apache/cgi/fd.pl
  test/apache/cgi/leak.pl
  test/apache/cgi/loop.pl
  test/apache/cgi/recursion.pl
  test/apache/config/httpd.conf
Labels: test

#335 [server] complete request の時は timeout でも何も返さず接続を切る
  srcs/server/message_manager/message.cpp
  srcs/server/message_manager/message.hpp
  srcs/server/message_manager/message_manager.cpp
  srcs/server/message_manager/message_manager.hpp
  srcs/server/server.cpp
  srcs/server/server.hpp
Labels: server

#337 [http] TmpParseHttpRequestFormatを更新
  srcs/config_parse/custom_const_iterator.hpp
  srcs/http/request/parse/http_parse.cpp
  srcs/http/request/parse/http_parse.hpp
  srcs/http/response/http_response.cpp
  srcs/http/tmp_http.cpp
  srcs/http/tmp_http.hpp
  test/unit/http/Makefile
Labels: http

#357 [add] Result<void> でも使えるように追加
  srcs/utils/result.hpp
Labels: server

#344 [add] Configのテストケース追加
  srcs/config_parse/parser.cpp
  test/config_files/error_test_files/alias/alias_no_param.conf
  test/config_files/error_test_files/allowed_methods/allowed_methods_no_param.conf
  test/config_files/error_test_files/autoindex/autoindex_invalid_param.conf
  test/config_files/error_test_files/autoindex/autoindex_no_param.conf
  test/config_files/error_test_files/cgi_extension/cgi_extension_no_param.conf
  test/config_files/error_test_files/client_max_body_size/client_max_body_size_no_param.conf
  test/config_files/error_test_files/index/index_no_param.conf
  test/config_files/error_test_files/location/location_multi_end_bracket.conf
  test/config_files/error_test_files/location/location_multi_start_bracket.conf
  test/config_files/error_test_files/location/location_no_param.conf
  test/config_files/error_test_files/return/return_invalid_status_code.conf
  test/config_files/error_test_files/return/return_no_param.conf
  test/config_files/error_test_files/server/server_multi_end_bracket.conf
  test/config_files/error_test_files/server_name/server_name_no_param.conf
  test/config_files/error_test_files/upload_dir/upload_dir_no_param.conf
  test/unit/config_parse/test_config.cpp
Labels: configuration

#348 [epoll] SendRespond() 内での EVENT の切り替え
  srcs/server/server.cpp
  srcs/server/server.hpp
Labels: server
